<div>
  <div class="form-group"  [formGroup]="countrySelectionFrom">
    <input
    type="text"
    placeholder="Enter a Country Name"
    class="form-control"
    formControlName="countryForm"
    aria-label="country">

    <ng-container *ngIf="filteredCountries.length>0">
   <ul class="list-group" *ngFor="let country of filteredCountries;trackBy:identify">
    <li class="list-group-item"  (click)="onCountrySelected(country)">
      <span [innerHTML]="country?.name | boldSpan:countrySelectionFrom.controls['countryForm'].value" ></span>
  </li>
   </ul>
  
    </ng-container>
  
  </div>



</div>



