<div class="container-fluid">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-contents">
      <span class="glyphicon glyphicon-refresh spinning"></span>
      Refreshing data...
    </div>
  </div>
  <div class="row well">
    <div class="col-md-6">
      <app-zipcode-entry> </app-zipcode-entry>
    </div>
    <div class="col-md-6">
      <app-country-selection></app-country-selection>
    </div>

    <div class="float-left" style="margin-top: 143px">
      <app-btn-save
        [initialTemplate]="add"
        [loadingTemplate]="adding"
        [doneTemplate]="done"
        [btnConfig]="currentBtnConfig"
        (onClick)="btnClicked($event)"
      >
      </app-btn-save>

      <ng-template #add class="btn btn-primary"> Add location </ng-template
      ><ng-template #adding> Adding ... </ng-template
      ><ng-template #done>
        <img
          src="assets/icons/done.png"
          class="check-icon"
          style="width: 24px; height: 24px"
        />
        Done
      </ng-template>
    </div>
    <br />
  </div>

  <app-current-conditions
    [weatherConditions]="currentConditions"
  ></app-current-conditions>
</div>
